
<table>
{% for v in visits %}
  <tr>
    <td> {{ v.location ?: "unknown location" }} </td>
    <td> {{v.page ?: "?"}} </td>
    <td> {{v.browser ?: "unknown browser"}} </td>
    <td> {{v.ip ?: "unknown ip"}} </td>
    <td> {{v.time ?: "unknown date/time"}} </td>
  </tr>
{% endfor %}
</table>